<div class="autocomplete-element">
  <div class="items-box" #pillContainer>
    @for (item of pills(); track $index; let index = $index) {
    <div #pill class="item">
      <span>{{ item }}</span>
      <button type="button" (click)="removeItem(index)">&times;</button>
    </div>
    } @empty { <span class="item-empty">No items...</span> }

    <!-- Line to avoid formating -->

    @if (overflowedItems() > 0) {
    <div #moreItemsPill class="item more-items">
      <span>+{{ overflowedItems() }} items</span>
      <button type="button" (click)="removeOverflowedItems()">&times;</button>
    </div>
    }
  </div>

  @if (pills().length > 0) {
  <button type="button" class="clear-all-button" (click)="removeAllItems()">
    &times;
  </button>
  }
</div>

@if (showInfo()) {
<hr />
<div class="array-box">
  <h3>Array Items (JSON)</h3>
  <pre>{{ pills() | json }}</pre>
</div>
<hr />

<h3>Info</h3>
<ul>
  <li>Total Items: {{ pills().length }}</li>
  <li>Overflowed Items: {{ overflowedItems() }}</li>
  <li>Overflow Start Index: {{ overflowStartIndex() }}</li>
</ul>
}
